---
import Layout from "../layouts/Layout.astro";
import Todo from "../components/Todo.tsx"
import Modal from "../components/Modal.astro";
const title = "Checklist";
const modal =
  "Enter your daily tasks and treat this page like a checklist, make sure all are done before your shift ends!";
---

<Layout title={title}>
  <div class="container">
    <Modal content={modal} />
    <Todo />
  </div>
</Layout>