---

---

<div id="navBar">
  <nav id="navHeader">&#8801;</nav>
  <div id="dropdown">
    <a class="menu" href="/">Home</a>
    <a class="menu" href="/schedulePage">Schedule Tracker</a>
    <a class="menu" href="/calculatorPage">Age Calculator</a>
    <!-- <a class="menu" href="/mapPage">Map</a> -->
    <a class="menu" href="/weatherPage">Weather</a>
    <a class="menu" href="/todoPage">Checklist</a>
  </div>
</div>
<script>

  document.addEventListener("click", (e: MouseEvent) => {
  const navHeader = document.getElementById("navHeader");
  if (e.target === navHeader) {
    toggleDropdown();
  } else {
    const dropdown = document.getElementById("dropdown");
    if (dropdown && dropdown.classList.contains("show")) {
      dropdown.classList.remove("show");
    }
  }
});

function toggleDropdown(): void {
  const dropdown = document.getElementById("dropdown");
  if (dropdown) {
    dropdown.classList.toggle("show");
  } else {
    console.error("Dropdown element not found");
  }
}


</script>
 