---

---

<div class="videoBox">
    <h3>Not sure why a schedule tracker like our could be useful? This video gives a brief explanation of what a rotating schedule is and why they are used.</h3>
    <iframe
    class="video"
    width="90%"
    height="400px"
    src="https://www.youtube.com/embed/1NLaqDuLPwI?autoplay=1&mute=1"
    title="A Guide to Creating a Successful Rotating Shift Schedule | When I Work"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
  
</div>
