---

---

<section class="reviews">
  <div id="reviewBox">
    <h3>If you found this useful, or have any suggestions let us know!</h3>

    <form
      action="https://api.web3forms.com/submit"
      method="POST"
      id="reviewForm"
    >
      <input type="hidden" name="access_key" value="a1bf7f2c-e2c4-4575-9d2e-ac544037c627
      " />
      <label for="user">Name:</label>
      <input type="text" id="user" name="user" placeholder="anonymous" />
      <label for="text">Review:</label>
      <textarea
        id="text"
        name="text"
        cols="30"
        rows="10"
        placeholder="Your thoughts here..."
        required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="reviewsContainer"></div>
</section>

<script>
  const form = document.getElementById("reviewBox") as HTMLFormElement;
  const reviewsContainer = document.getElementById(
    "reviewsContainer",
  ) as HTMLDivElement;

  form.addEventListener("submit", (event: Event) => {
    event.preventDefault();
    event.stopPropagation();

    form.style.display = "none";
    reviewsContainer.innerHTML = "Thank you for your feedback!";
    reviewsContainer.style.display = "block";
  });
</script>
